html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}
.container__inner {
    flex-direction: column;
}
.content__title {
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
    text-transform: uppercase;
    color: red!important;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-weight: 900;
}
.content__subtitle {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    text-transform: uppercase;
    color: black!important;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: white;
    font-weight: 900;
}
.inner__page {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.content_container {
    margin-left: 10px;
}
.content_container-text {
    font-style: italic;
    font-size: 25px;
    font-weight: 900px;
    color: red!important;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: white;
}
.content_container-desc {
    display: flex;
    margin-top: 10px;
    color: black!important;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: white;
    font-weight: 900;
}
.romb {
    width: 0; 
    height: 0;
    margin: 0 5px;
    border: 10px solid transparent;
    border-bottom-color: white;
    position: relative; 
    top: -10px;
    }
.romb:after {
    content: "";
    width: 0; 
    height: 0;
    position: absolute; 
    left: -10px; 
    top: 10px;
    border: 10px solid transparent;
    border-top-color: white;
}
.content_container-page {
    width: 40%;
    background-color: black;
    color: white;
    padding: 10px 5px;
    font-size: 25px;
    text-transform: uppercase;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: 10px;
}
.content_container-page2 {
    width: 80%;
    background-color: black;
    color: white;
    padding: 10px 5px;
    font-size: 25px;
    text-transform: uppercase;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 20%;
}
.content_container-page3 {
    margin-top: 60%;
    width: 80%;
    background-color: black;
    color: white;
    padding: 10px 5px;
    font-size: 25px;
    text-transform: uppercase;
    flex-wrap: wrap;
    margin-left: 20%;
}
.content__container-nomber {
    margin-top: 10%;
    color: black!important;
    font-weight: 900;
    font-size: 30px;
}